.footer {
  z-index: 2;
  width: 100svw;
  max-width: 100svw;
  height: 2.5%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  padding: 0.25svw;
  border-top: 2px solid #d2d2d211;
  background-color: rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(5px);
}

.left {
  margin-left: 2rem;
  padding-bottom: 0.5rem;
  align-content: space-between;
  align-items: center;
}

.middle {
  margin-left: auto;
  visibility: hidden;
}

.right {
  margin-right: 2rem;
  display: flex;
}

.author {
  margin-left: 10px;
  margin-right: 10px;
}

.authors {
  display: flex;
  align-content: space-between;
  align-items: center;
}

.authors::after {
  content: "©️ 2024";
}

.footerButton {
  background-color: rgba(223, 223, 223, 0.068);
  border-style: none;
  border-color: white;
  border-radius: 0.5rem;
  border-width: 1px, 1px, 1px, 1px;
  font-size: 1.2rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  box-shadow: 0 1px #ffffff3d;
}

.footerButton:hover {
  background-color: rgba(223, 223, 223, 0.281);
}

.footerButton:active {
  border-color: rgba(49, 49, 49, 0.116);
  transform: translateY(2px);
}

button.fab {
  font-size: 1.5rem;
  border-radius: 50%;
  border: 0;
  width: 2rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  content: "";
  padding: 0;
}

.fab.dark::after {
  content: "🌚";
}

.fab.light::after {
  content: "🌞";
}

@media only screen and (max-width: 767px) {
  .right {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    height: 7%;
    padding: 0.25svw;
    background-color: rgba(255, 255, 255, 0);
  }
  .left {
    min-width: 100%;
    margin: 2.5;
  }
  .middle {
    display: none;
  }
  .right {
    display: none;
  }
}
