.footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  width: 100svw;
  max-width: 100svw;
  height: 3%;
  padding: 0.5svw;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
}

.left {
  align-content: space-between;
  align-items: center;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}

.middle {
  margin-left: auto;
  visibility: hidden;
}

.right {
  display: flex;
  margin-right: 2rem;
}

.author {
  margin: 0 10px 0 10px;
}

.authors {
  display: flex;
  align-content: space-between;
  align-items: center;
}

.authors::after {
  content: "©️ 2024";
}

.footerButton {
  height: 2rem;
  margin: 0.25rem 0.5rem 0 0;
  background-color: rgba(223, 223, 223, 0);
  border-style: none;
  border-color: white;
  border-radius: 0.5rem;
  border-width: 1px, 1px, 1px, 1px;
  line-height: 1rem;
  text-align: center;
  font-size: 1.2rem;
  /* box-shadow: 0 1px #ffffff3d; */
  cursor: pointer;
}

.footerButton:hover {
  background-color: rgba(223, 223, 223, 0.281);
}

.footerButton:active {
  background-color: rgba(231, 231, 231, 0.397);
  /* border-color: rgba(49, 49, 49, 0.116); */
  /* transform: translateY(2px); */
}

button.fab {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
  border: 0;
  font-size: 1.5rem;
  line-height: 1rem;
  text-align: center;
  content: "";
}

.fab.dark::after {
  content: "🌚";
}

.fab.light::after {
  content: "🌞";
}

@media only screen and (max-width: 767px) {
  .right {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    height: 7%;
    padding: 0.25svw;
    background-color: rgba(255, 255, 255, 0);
  }
  .left {
    min-width: 100%;
    margin: 2.5;
  }
  .middle {
    display: none;
  }
  .right {
    display: none;
  }
}
