.screen {
  z-index: 1;
  /* background-color: rgba(223, 223, 223, 0.3); */
  width: 100%;
  display: flex;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.columnContainer {
  /* background-color: rgba(193, 105, 219, 0.3); */
  position: fixed;
  display: flex;
  justify-content: start;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.largeColumn {
  /* background-color: rgba(163, 144, 79, 0.3); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: wrap;
}

.smallColumn {
  /* background-color: rgba(66, 25, 25, 0.575); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  overflow: wrap;
}

.block {
  /* background-color: rgba(110, 155, 100, 0.3); */
  position: relative;
  display: inline-flex;
  padding: 0 2svw 2svw 2svw;
  margin: 0;
  max-width: 60%;
  transition: all 0.2s ease-in-out;
}

.model {
  background-color: rgba(126, 126, 126, 0.568);
  position: fixed;
  right: 0;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
  border-radius: 2svw 0 0 2svw;
  padding: 2svw;
  margin: 2svw 0 2svw 2svw;
  pointer-events: all;
  max-width: 40%;
}

.title {
  position: relative;
  font-size: 10svw;
  line-height: 8svw;
  text-align: left;
  text-wrap: wrap;
  font-weight: 900;
  align-items: start;
}

.subTitle {
  position: relative;
  width: 10svw;
  max-height: 8svw;
  /* font-size: 2svw;
  line-height: 8svw;
  text-align: left;
  text-wrap: wrap;
  font-weight: 600; */
}

.styleText {
  font-weight: 600;
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  .block {
    position: relative;
    max-width: 100%;
    min-width: 100%;
  }
  .model {
    padding-left: 10svw;
    max-width: 100%;
    max-height: 70%;
    overflow-y: scroll;
    border-radius: 2svw;
    padding: 6svw;
    margin: 10svw;
  }
}
@media only screen and (max-width: 671px) {
  .model {
    border-radius: 2svw 0 0 2svw;
  }
}
@media only screen and (min-width: 2000px) {
  .block {
    max-width: 40%;
  }
  .model {
    max-width: 20%;
  }
  .title {
    font-size: 7svw;
    line-height: 6svw;
  }
  .subTitle {
    font-size: 1svw;
    line-height: 6svw;
  }
}
