.screen {
  z-index: 1;
  background-color: rgba(223, 223, 223, 0.3);
  width: 100svw;
  max-width: 100svw;
  height: 100svh;
  display: flex;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 2.5svw 0 34svw 0;
  pointer-events: none;
}

.largeColumn {
  background-color: rgba(223, 223, 223, 0.3);
  display: inline-block;
  overflow-x: wrap;
  min-width: 60svw;
  max-width: 60svw;
  max-height: 100%;
}

.smallColumn {
  background-color: rgba(66, 25, 25, 0.575);
  display: inline-block;
  overflow-x: wrap;
  min-width: 40svw;
  max-width: 40svw;
  max-height: 100%;
}

.block {
  background-color: rgba(110, 155, 100, 0.3);
  position: relative;
  display: flex;
  overflow: wrap;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 10svw;
  line-height: 8svw;
  text-align: left;
  text-wrap: wrap;
  font-weight: 900;
  margin: 3svw 0 0 3svw;
}

.subTitle {
  font-size: 2svw;
  line-height: 8svw;
  text-align: left;
  text-wrap: wrap;
  font-weight: 600;
  margin: 3svw 0 0 3svw;
}

.styleText {
  font-weight: 600;
  font-style: italic;
}

@media only screen and (max-width: 400px) {
  .largeColumn {
    width: 100svw;
    max-width: 100svw;
  }
}

@media only screen and (max-width: 400px) {
  .smallColumn {
    display: none;
  }
}
